#! /bin/sh
# /etc/init.d/mailhog
#
# MailHog init script.
#
# @author Mikkel Ricky <rimi@aarhus.dk>

### BEGIN INIT INFO
# Provides:          mailhog
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: MailHog
# Description:       MailHog
### END INIT INFO

NAME=mailhog
DAEMON=/opt/mailhog/bin/MailHog
PIDFILE=/var/run/mailhog.pid
SCRIPTNAME=/etc/init.d/$NAME

test -f $DAEMON || exit 5

. /lib/lsb/init-functions

case $1 in
start) start-stop-daemon --start --exec $DAEMON --pidfile $PIDFILE --make-pidfile --background
       ;;
stop)  start-stop-daemon --stop --pidfile $PIDFILE
       ;;
*)     echo "Usage: $SCRIPTNAME {start|stop}"
       exit 2
       ;;
esac
