; configuration for php ZendOpcache module
; priority=05
zend_extension=opcache.so
opcache.validate_timestamps=1
opcache.enable_file_override=0
opcache.memory_consumption=64
opcache.interned_strings_buffer=16
opcache.max_accelerated_files=8000
opcache.fast_shutdown=1
