window.config = {
  "resource": {
    "server": "//screen.{{ domain }}/",
    "uri": 'proxy'
  },
  "ws": {
    "server": "https://screen.{{ domain }}/"
  },
  "apikey": "059d9d9c50e0c45b529407b183b6a02f",
  "cookie": {
    "secure": false
  },
  "debug": true,
  "version": "dev",
  "itkLog": {
    "version": "1",
    "errorCallback": null,
    "logToConsole": true,
    "logLevel": "all"
  }
};